.card{
  border: 1px solid black ;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .profileimage{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: hsl(0, 2%, 19%);
}

.card .card-content{
  font-family: Arial, sans-serif;
  margin: 0px;
  color: hsl(0, 2%, 30%);
}

/* .button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
} */

.student{
  font-family: Arial,  sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 1%);

}

.student p{
  margin: 0;

}
.welcome-message{
  font-size: 2em;
  background-color: hsla(119, 100%, 39%, 0.888);
  border: 1px solid black;
  padding: 10px;
  margin: 0;
}
.login-prompt{
  font-size: 2em;
  background-color: hsla(0, 100%, 39%, 0.888);
  border: 1px solid black;
  padding: 10px;
  margin: 0;

}